datasets/
weights/pretrained/
# Ignore model evaluation/checkpoint outputs
*.npz
*.pth
*.pt
!weights/pretrained/GraphMVP_classification.pth
!weights/pretrained/GraphMVP_regression.pth

# Ignore TensorBoard event files
**/events.out.tfevents.*


# Ignore Python cache files
__pycache__/
*.pyc

# Do not ignore weights/pretrained/GraphMVP_classification.pth 
